<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Electroneum GUI Wallet (v0.1.0)</title>
    <link href="../styles/skeleton.css" rel="stylesheet"/>
    <link href="../styles/custom.css" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
  </head>
  <body>
    <div class="header-style" id="header">
      <div class="row">
        <div class="one column">
          <img src="../assets/logo.png" width="70" />
        </div>
        <div class="nine columns">
          <p>Your Wallet: </p>
          <strong><p id="address"></p></strong>
        </div>
        <div class="two columns">

        </div>
      </div>
    </div>
    <div id="menu" class="four wide column"></div>
    <div id="body" class="twelve wide column"></div>
  </body>

  <script>
    require('../lib/jquery.min.js');
  </script>
  <script>
    require('../lib/main.js');
  </script>
</html>
